
[submodule "source/bi_open/client/lib/leaflet"]
	path = source/bi_open/client/lib/leaflet
	url = https://github.com/Leaflet/Leaflet.git
[submodule "source/bi_open/client/lib/leaflet-markercluster"]
	path = source/bi_open/client/lib/leaflet-markercluster
	url = https://github.com/Leaflet/Leaflet.markercluster.git
[submodule "source/bi_open/client/lib/dimple"]
	path = source/bi_open/client/lib/dimple
	url = https://github.com/PMSI-AlignAlytics/dimple.git
[submodule "source/bi_open/client/lib/RGraph"]
	path = source/bi_open/client/lib/RGraph
	url = https://github.com/xtuple/RGraph.git
